body {
font-family: Arial, Helvetica, sans-serif;
margin: 40px;
background-color: rgb(255, 255, 255);
color: black;
line-height: 1.6;
}

h1 {
text-align: center;
color: rgb(0, 0, 0);
}

h2 {
color: rgb(0, 0, 0);
padding-bottom: 5px;
margin-top: 30px;
}

